.top{
    z-index: 1030;
    position: fixed;
    top: 0;
    background-color: #FFF;
    
    width: 100%;
}

.container>img{
    padding: 20px;
}
.menu{
    background-color: #000CD1;
    padding: 0 5%;
}
.menu>li a{
    color: #FFF;
}
.menu>li a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #0081C4;
    background-repeat: repeat-x;
}
.dropdown-menu > li > a {
    color: black;
}

.nav-pills > li.active > a{
    background-color: rgba(0,0,0,0.2);
}

#content{
    padding: 0 30px;
    margin: 150px auto 0 auto; 
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.sanpham-box{
    border: 1px solid #000;
    height: 300px;
}
.footer-left{
    position: absolute;
    left:  0;
   padding: 15px;
}
.footer-right{
    position: absolute;
    right:  0;
    padding: 15px;
}
.footer-right >ul>li{
    float: left;
    list-style-type: none;
}

.footer-right ul li >a{
    padding: 0 10px;
    border-right: 1px solid #0088e4;
}
.tentrungtam{
    font-size: 20px;
    text-transform: uppercase;
    color: blue;
}
